mixin air-videoplayer(options)

  //- Принимает:
  //-   options.poster    {string} - путь до изображения для атрибута poster тэга video
  //-   options.src       {string} - путь до видеофайла для атрибута src тэга video
  //-   options.theme     {string} - класс-модификатор, от значения которого зависит цветовая тема
                                     видеоплеера. Может принимать два значения: "blue", "cinnabar"
  //- Вызов:
        +air-videoplayer("Текст", "some-mod")

  -
    //- Объект настроек по умолчанию
    var settings = {
      poster: "../components/air-videoplayer/img/ckin.jpg",
      src: "../components/air-videoplayer/video/ckin.mp4",
      width: ""
    },

    options = options || settings,
    poster = options.poster || settings.poster,
    src = options.src || settings.src,
    width = options.width || settings.width;

    //- Список модификаторов
    modifiers = '';

    if (options.theme === 'blue')
      modifiers += ' air-videoplayer_theme_blue';

    if (options.theme === 'cinnabar')
      modifiers += ' air-videoplayer_theme_cinnabar';

  .air-videoplayer(class=modifiers, style=width != "" ? `width: ${width}` : "")&attributes(attributes)
    video(poster=poster, src=src)
