mixin percentage-chart(options)

  //- Принимает:
  //-   options.size       {string} - класс-модификатор размера чарта. Может принимать одно из следующих занчений:
                                      small || sm, extra-small || xs, large || lg, extra-large || xl, fluid
  //-   options.percent    {number} - число процентов от 0 до 100
  //-   options.theme      {string} - класс-модификатор цветовой темы

  //- Вызов:
        +percentage-chart({percent: 89, theme: "cinnabar", size: "sm"}) - чарт  со значением 89%, маленького размера,
                                                                           темой cinnabar
        +percentage-chart({percent: 50, theme: "blue"})                  - чарт  со значением 50%, размером 100px, темой blue

  -
    var valueFull = 100,

    //- Объект с настройками по умолчанию
    settings = {
      percent: 0,
      theme: "",
      size: "md"
    },
    options = options || settings,
    size = options.size || settings.size,
    percent = options.percent || settings.percent,
    theme = options.theme || settings.theme

    if (typeof percent !== "number") percent = 0;
    if (percent < 0 ) percent = 0;
    if (percent > valueFull) percent = 100;

    valueEmpty = valueFull - percent,

    // список модификаторов
    chartValueModifiers = "",
    chartModifiers = "";

    if (typeof (theme) !== "undefined" && theme)
      chartValueModifiers += ` percentage-chart__value_theme_${theme}`;

    if (typeof (size) !== "undefined" && size)
      chartModifiers += ` percentage-chart_size_${size}`


  svg.percentage-chart(class=chartModifiers, viewBox="0 0 36 36", fille="none")&attributes(attributes)
    circle.percentage-chart__value(class=chartValueModifiers, r="15.9155", cx="50%", cy="50%",
    fill="none", stroke-width="1.6", stroke-dasharray=`${percent}, ${valueEmpty}`, stroke-dashoffset="25")
    text.percentage-chart__text(x="18", y="23.35")= percent