mixin arrow-button(options)

  //- Принимает:
    //-   options.size        {string}  - строка со значением ширины кнопки и единицами измерения
    //-   options.theme       {string}  - класс-модификатор цветовой темы кнопки
    //-   options.direction   {string}  - класс-модификатор направления стрелки: влево, вправо, вверх, вниз
    //-   options.noOutline   {boolean} - булево значение, от которого зависит, будет ли к элементу кнопки
                                         добавлен класс-модификатор, убирающий дефолтный outline в активном
                                         состоянии последней
    //-   options.animate     {boolean} - булево значение, от которого зависит, будет ли анимироваться изменение
                                         цвета кнопки
    //-   options.ripple      {boolean} - булево значение, от которого зависит, будет ли на кнопке воспроизводиться
                                         ripple-effect
    //-   options.disable     {boolean} - булево значение, блокирующее доступ и изменение кнопки

    //- Вызов:
          +arrow-button       - дефолтная кнопка белого цвета размером 50х50 пикселей

          +arrow-button({     - кнопка голубого цвета, с размером в 45% от родительского блока, с отключенной
            noOutline: true,    обводкой, анимацией изменения цвета и воспроизведением ripple-effect при клике
            size: "45%",
            theme: "blue",
            animate: true,
            ripple: true
          })

          +arrow-button({     - кнопка вправо цвета киноварь, размером 45% от размера родительского блока, с отключенной
            size: "45%",        обводкой, анимацией изменения цвета и воспроизведением ripple-effect при клике
            noOutline: true,
            direction: "right",
            theme: "cinnabar",
            animate: true,
            ripple: true
          })

  -
    // Список модификаторов
    var modifiers = "",

    // Объект настроек по умолчанию
    settings = {
      size: "50px",
      theme: "",
      direction: "",
      noOutline: false,
      animate: false,
      ripple: false,
      disable: false
    },

    options = options || settings,
    size = options.size || settings.size,
    theme = options.theme || settings.theme,
    direction = options.direction || settings.direction,
    noOutline = options.noOutline || settings.noOutline,
    animate = options.animate || settings.animate,
    ripple = options.ripple || settings.ripple,
    disable = options.disable || settings.disable

    if (typeof (theme) !== "undefined" && theme)
      modifiers += ` arrow-button_theme_${theme}`

    if (typeof (direction) !== "undefined" && direction)
      modifiers += ` arrow-button_direction_${direction}`

    if (noOutline === true)
      modifiers += ` arrow-button_no-outline`

    if (animate === true)
      modifiers += ` arrow-button_animate`

    if (ripple === true)
      modifiers += ` arrow-button_ripple`

  button.arrow-button(class=modifiers, style=`width: ${size}`, disabled=disable)&attributes(attributes)
    span.arrow-button__arrow
